body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    height: 100%;
    width: 100%;
}

.jumbotron .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

